<!--
theme name:		mpcore-nxt
version:		1.2
author:			Liontek1985
email:          liontek1985@outlook.at
-->

<theme>
    <formatVersion>3</formatVersion>
--------------------------------------------	
<!-- Choose your body Style -->	
	<include>./art/layouts/body_nxt.xml</include>
<!-- 
OPTIONS: Body-MPCORENXT=body_nxt;.
-->	
--------------------------------------------
<!-- Image Resolution - resolution optimizing-->
	<include>./art/layouts/img_1080p.xml</include>

<!-- 
OPTIONS: 1920x1080=img_1080p; 1280x720=img_720p;.
-->
--------------------------------------------
<!-- Choose your help system controller layout-->	
	<include>./art/layouts/help_snes.xml</include> 

<!-- 
OPTIONS: help_x; help_x_swap;.
(x)Options 8BITDO=snes; SNES=snes; XBOX-ONE=xone; XBOX-360=x360; PLAYSTATION=psx;.
(_swap) Button-Swap from AB to BA like ES
-->
--------------------------------------------

</theme>